.container {
  background-color: #020202aa;
  backdrop-filter: blur(5px);
  padding: 0 12px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.wrapper {
  border-bottom: 1px solid var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1296px;
  padding: 20px 0;
  margin: 0 auto;
}

.site-logo {
  width: 245px;
}

.desktop-nav {
  font-weight: var(--bold);
  display: flex;
  gap: 20px;
}

@media (max-width: 576px) {
  .wrapper {
    padding: 28px 0;
  }

  .site-logo {
    width: 147px;
  }

  .desktop-nav {
    display: none;
  }
}
