.container {
  padding: 0 12px;
  margin: 0 auto 160px;
}

.wrapper {
  max-width: 1296px;
  margin: 0 auto;
}

.heading {
  font-size: var(--m);
  font-weight: var(--bolder);
  line-height: 38.4px;
  margin: 0 0 80px;
}

.card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}

@media (max-width: 576px) {
  .container {
    margin: 0 auto 120px;
  }

  .heading {
    font-size: var(--xxs);
    margin: 0 0 24px;
  }

  .card-wrapper {
    grid-template-columns: 1fr;
    grid-gap: 12px;
  }
}
