.container {
  max-width: 1296px;
  padding: 0 12px;
  margin: 0 auto 160px;
}

.heading {
  font-size: 32px;
  font-weight: 900;
  line-height: 38.4px;
  margin: 0 0 80px;
}

.card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}

@media (max-width: 576px) {
  .container {
    margin: 0 auto 120px;
  }

  .heading {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 24px;
  }

  .card-wrapper {
    grid-template-columns: 1fr;
    grid-gap: 12px;
  }
}
