.container {
  padding: 0 12px;
  margin: 40px auto 240px;
}

.wrapper {
  max-width: 1296px;
  margin: 0 auto;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.content-container h1 {
  font-size: 120px;
  font-weight: 900;
  line-height: 144px;
}

.content-container p {
  align-self: flex-end;
  font-size: 48px;
  font-weight: 900;
  line-height: 57.6px;
  max-width: 50%;
}

@media (max-width: 576px) {
  .container {
    margin: 40px auto 260px;
  }

  .content-container {
    gap: 64px;
  }

  .content-container h1 {
    font-size: 48px;
    line-height: 57.6px;
  }

  .content-container p {
    font-size: 28px;
    line-height: 33.6px;
    max-width: 73%;
  }
}
