.content-wrapper {
  display: flex;
}

.title-wrapper {
  width: calc(100% / 3);
}

.title-wrapper h2 {
  font-size: var(--m);
  font-weight: var(--bolder);
  line-height: 38.4px;
}

.regulations-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: calc((100% / 3) * 2);
}

.regulations-wrapper div {
  border-bottom: 1px solid #525252;
}

.regulations-wrapper h3 {
  font-size: var(--xl);
  font-weight: var(--bolder);
  line-height: 57.6px;
  margin: 0 0 24px;
}

.regulations-wrapper p {
  font-size: var(--m);
  line-height: 38.4px;
  margin: 0 0 40px;
}

@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
    gap: 48px;
  }

  .title-wrapper,
  .regulations-wrapper {
    width: 100%;
  }

  .title-wrapper h2 {
    font-size: var(--xxs);
  }

  .regulations-wrapper {
    gap: 24px;
  }

  .regulations-wrapper h3 {
    font-size: var(--m);
    line-height: 38.4px;
  }

  .regulations-wrapper p {
    font-size: var(--xxxs);
    line-height: 24px;
  }
}
