.container {
  padding: 160px 12px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  max-width: 1296px;
  margin: 0 auto;
}

.heading {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  line-height: 57.6px;
}

.responsive-break {
  display: none;
}

@media (max-width: 576px) {
  .wrapper {
    gap: 32px;
  }

  .heading {
    font-size: 32px;
    line-height: 38.4px;
  }

  .responsive-break {
    display: block;
  }
}
