.container {
  padding: 0 12px;
  margin: 40px auto 100px;
}

.wrapper {
  max-width: 1296px;
  margin: 0 auto;
}

.title {
  font-size: 120px;
  font-weight: 900;
  line-height: 144px;
  margin: 0 0 40px;
}

.responsive-break {
  display: none;
}

@media (max-width: 768px) {
  .title {
    font-size: 48px;
    line-height: 57.6px;
  }
}

@media (max-width: 576px) {
  .container {
    margin: 40px auto 180px;
  }

  .responsive-break {
    display: block;
  }
}
