.container {
  padding: 0 12px;
  margin: 0 auto 160px;
}

.wrapper {
  max-width: 1296px;
  margin: 0 auto;
}

.content-wrapper {
  display: flex;
  margin: 0 0 80px;
}

.title-wrapper {
  width: calc(100% / 3);
}

.title-wrapper h2 {
  font-size: var(--m);
  font-weight: var(--bolder);
  line-height: 38.4px;
}

.paragraph-wrapper {
  width: calc((100% / 3) * 2);
}

.paragraph-wrapper p {
  font-size: var(--xl);
  font-weight: var(--bolder);
  line-height: 57.6px;
}

.card-wrapper {
  display: flex;
  gap: 20px;
}

@media (max-width: 768px) {
  .container {
    margin: 0 auto 120px;
  }

  .content-wrapper {
    flex-direction: column;
    gap: 24px;
    margin: 0 0 48px;
  }

  .title-wrapper,
  .paragraph-wrapper {
    width: 100%;
  }

  .title-wrapper h2 {
    font-size: var(--xxs);
  }

  .paragraph-wrapper p {
    font-size: var(--m);
    line-height: 38.4px;
  }

  .card-wrapper {
    flex-direction: column;
  }
}
