.search-input {
  background: url("~/public/image/icons/search.webp") no-repeat;
  background-size: 24px;
  background-position: 40px 20px;
  background-color: var(--black20);
  border: none;
  border-radius: 16px;
  color: var(--black);
  font-size: var(--xxxs);
  width: 100%;
  padding: 20px 40px 20px 80px;
  margin: 0 0 24px;
  transition: all 0.3s ease-in-out;
}

.search-input:focus {
  background-color: var(--black);
  color: var(--black20);
}

.search-input:focus-visible {
  outline: none;
}

@media (max-width: 576px) {
  .search-input {
    margin: 0 0 16px;
  }
}
