.search-input {
  background: url("~/public/image/icons/search.webp") no-repeat;
  background-size: 24px;
  background-position: 40px 20px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 16px;
  color: #020202;
  font-size: 16px;
  width: 100%;
  padding: 20px 40px 20px 80px;
  margin: 0 0 24px;
  transition: all 0.3s ease-in-out;
}

.search-input:focus {
  background-color: #020202;
  color: #f2f2f2;
}

.search-input:focus-visible {
  outline: none;
}

@media (max-width: 576px) {
  .search-input {
    margin: 0 0 16px;
  }
}
