.pagination ul {
  color: var(--black);
  font-size: 14px;
  font-weight: var(--bold);
  line-height: 21px;
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}

.pagination button {
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 16px;
  transition: all 0.3s ease-in-out;
}

.pagination button:hover:not(:disabled),
.pagination button[aria-current="page"] {
  background-color: var(--black);
  color: var(--white);
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: default;
}
