.card {
  border: 1px solid var(--black80);
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 318px;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  background-color: var(--white);
  color: var(--black);
}

.wrapper {
  padding: 20px 32px;
}

.wrapper h3 {
  font-size: var(--m);
  font-weight: var(--bolder);
  line-height: 38.4px;
  margin: 0 0 12px;
}

.wrapper ul {
  padding: 0 32px;
}

.wrapper ul li {
  list-style-type: disc;
}

.card footer {
  border-top: 1px solid var(--black80);
  display: flex;
  justify-content: space-between;
  padding: 20px 32px;
}

.card footer h4 {
  font-size: var(--xxs);
  font-weight: var(--bolder);
  line-height: 24px;
}

.card footer span {
  color: var(--black60);
  font-weight: 400;
}

.card footer .start-using {
  font-weight: var(--bold);
  display: flex;
  align-items: center;
  gap: 12px;
}

.card footer .start-using img {
  width: 16px;
  transition: all 0.3s ease-in-out;
}

.card:hover footer .start-using img {
  filter: brightness(0);
}

@media (max-width: 576px) {
  .card {
    height: 240px;
  }

  .wrapper {
    padding: 20px;
  }

  .wrapper ul {
    padding: 0 20px;
  }

  .card footer {
    padding: 20px;
  }
}
