.card {
  border: 1px solid #525252;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 80px 40px;
}

.card h3 {
  font-size: 32px;
  font-weight: 900;
  line-height: 38.4px;
}
