.accordion-item {
  background-color: var(--black);
  border: 1px solid var(--black80);
  border-radius: 16px;
}

.accordion-button {
  color: var(--white);
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 20px;
  text-align: left;
  font-size: var(--xxs);
  font-weight: var(--bolder);
  padding: 20px 40px;
  background-color: transparent;
  border: 0;
  overflow-anchor: none;
}

.accordion-button:after {
  width: 24px;
  height: 24px;
  content: "";
  background-image: url("~/public/image/icons/add.webp");
  transition: all 0.3s ease-in-out;
}

.accordion-button:not(.collapsed):after {
  background-image: url("~/public/image/icons/remove.webp");
  transform: rotate(-180deg);
}

.accordion-button:not(.collapsed) {
  color: var(--primary);
}

.accordion-body {
  color: var(--white);
  padding: 20px 40px;
}

@media (max-width: 576px) {
  .accordion-button,
  .accordion-body {
    padding: 20px;
  }

  .accordion-body {
    text-align: justify;
  }
}
