.button {
  border: 1px solid var(--white);
  border-radius: 16px;
  display: inline-flex;
  gap: 12px;
  font-size: var(--xxs);
  font-weight: var(--bolder);
  padding: 20px 40px;
}

.icon {
  transition: all 0.3s ease-in-out;
}

.button:hover .icon {
  transform: translate(5px, -5px);
}
